@import "normolize";
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap');

body {
  font-family: 'Ubuntu', sans-serif;
  font-size: 16px;
  color: #333;
  background: #e2ece6;
}

.app {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
}

.question-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.question-count {
  font-size: 13px;
  font-weight: 300;
  line-height: 40px;

  span {
    font-family: Ubuntu;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 40px;
  }

}

.question-box {
  img {
    width: 100px;
    height: auto;
    margin-bottom: 30px;
  }
}

.question-section {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .title {
    font-family: Ubuntu;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 40px;
    margin-bottom: 80px;
    text-align: center;
  }
}

.question-text {
  font-family: Ubuntu;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 40px;
  margin-bottom: 30px;
  text-align: center;
  width: 100%;
  max-width: 600px;
}

.answer-section, {
  display: flex;
  flex-direction: column;

  button {
    padding: 0 20px;
    height: 40px;
    background: #fff;
    border-radius: 30px;
    margin: 20px;
    font-size: 10px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.21em;
    text-transform: uppercase;
    color: #010101;
    cursor: pointer;
    transition: all .4s ease-in;
    border: 1px solid #333;

    &:hover {
      background: #333;
      color: #fff;
    }
  }
}

.finish {
  padding: 0 20px;
  height: 40px;
  background: #fff;
  border-radius: 30px;
  margin: 20px;
  font-size: 10px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.21em;
  text-transform: uppercase;
  color: #010101;
  cursor: pointer;
  transition: background .4s ease-in, color .4s ease-in;
  border: 1px solid #333;

  &.is-hidden {
    visibility: hidden;
  }

  &:hover {
    background: #333;
    color: #fff;
  }
}

button:focus {
  outline: 0;
}

.score-section {
  span {
    font-family: Ubuntu;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 40px;
    color: #2B2B2B;
    margin-bottom: 30px;
    display: block;
    text-align: center;
  }
}

.question-box__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: opacity .4s ease-in, visibility .4s ease-in, transform .4s ease-in-out;

  &.is-hidden {
    opacity: 0;
    height: 0;
    overflow: hidden;
    visibility: hidden;
    transform: translate(0, -10%);
  }

  &.is-shown {
    opacity: 1;
    height: auto;
    position: relative;
    visibility: visible;
    transform: translate(0, 0);
  }
}

.radio-input {
  display: flex;
  align-items: center;
  margin: 20px 0;

  input {
    width: 18px;
    height: 18px;
    margin-right: 20px;
    background: #333;
  }
}

textarea {
  border: 1px solid #fff;
  padding: 15px 15px;
  width: 300px;
  height: 100px;
  font-size: 12px;

  &::placeholder {
    font-size: 12px;
  }
}


body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;


  &.dark {
    background: #fff;

    .btn {
      background: #0E0E0E;
      border-radius: 33px;
      font-family: Ubuntu;
      font-style: normal;
      font-weight: 300;
      font-size: 10px;
      line-height: 20px;
      text-align: center;
      letter-spacing: 0.21em;
      text-transform: uppercase;
      color: #FFFFFF;
      border: none;
      width: 131px;
      height: 40px;
      cursor: pointer;
    }

    .admin-panel {
      display: flex;
      flex-direction: column;
      align-items: center;
      min-height: 100vh;
      padding: 50px;
    }

    .admin-title {
      font-family: Ubuntu;
      font-style: normal;
      font-weight: bold;
      font-size: 24px;
      line-height: 24px;
      color: #0E0E0E;
      margin-bottom: 40px;
    }

    .admin-box {
      width: 100%;
      max-width: 1000px;
      padding: 0 15px;
      margin: 100px auto 0;
    }

    .answers-list {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }

    .answers-list--item {
      width: 100%;
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      padding: 10px 40px;
      border-radius: 33px;
      background: #fff;
      margin: 10px 0;

      .wrap {
        display: flex;
        align-items: center;
      }

      .btn {
        margin-left: 40px;
      }
    }

    .answers-list--number {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid #0E0E0E;
      color: #fff;
      font-size: 14px;
      font-weight: 700;
      margin-right: 40px;
      background: #0E0E0E;
    }
  }
}

.answer-popup {
  background: aliceblue;
  transition: all .4s ease-in;
  width: 100%;
  max-width: 700px;

  .answers-popup--item {
    display: flex;
    margin-bottom: 40px;

    span {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #0E0E0E;
      font-size: 14px;
      font-weight: 700;
      margin-right: 10px;
      border: 1px solid #000;
    }

    p {
      color: #0E0E0E;
      font-size: 14px;
    }
  }

  &.is-hidden {
    overflow: hidden;
    height: 0;
    opacity: 0;
  }

  &.is-shown {
    height: auto;
    opacity: 1;
    margin-top: 40px;
    padding: 20px 20px;
  }
}

.answer_wrap {
  width: 100%;
  max-width: calc(100% - 70px);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}


.user-box, .question-box {
  &.is-hidden {
    overflow: hidden;
    height: 0;
    opacity: 0;
  }

  &.is-shown {
    height: auto;
    opacity: 1;
    margin-top: 40px;
    padding: 20px 20px;
  }
}
.user-box {
  display: flex;
  flex-direction: column;
  align-items: center;

  input {
    width: 230px;
    height: 36px;
    border: 1px solid #0E0E0E;
    margin: 20px 20px;
    padding: 10px 10px;
    border-radius: 33px;
    font-family: Ubuntu;
    font-size: 12px;
    &::placeholder {
      font-size: 12px;
    }
  }

  .btn {
    background: #0E0E0E;
    border-radius: 33px;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: 300;
    font-size: 10px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.21em;
    text-transform: uppercase;
    color: #FFFFFF;
    border: none;
    width: 131px;
    height: 40px;
    cursor: pointer;
  }
}
.main-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

textarea:focus, input:focus{
  outline: none;
}